{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

	{% block body %}

		<div class="jumbotron">
			<h1 class="display-4">Viens à la maison!</h1>
			<p class="lead">Venez découvrir les plus beaux appartements de la région PACA !</p>
			<hr class="my-4">
			<p>Le plus large choix d'appartements en France.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
		</div>	
		<h2>Nos appartements</h2>
		<div class="row">

			<div class="col">
				<div class="card" style="width: 18rem;">
					<h4 class="card-header">Nice - Mont boron </h4>
					<img src="/images/Louis.jpg" width="350px" height="200px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center" >3 pièces/1chambre <br/> 70€/nuit</h5>
						<p class="card-text">Appartement loué jusqu'à Février 2019 , sur la Moyenne Corniche grand 3 pièces de 75 m² avec terrasse, dans une résidence agréable, proche des commerces, avec parking privé, double vitrage, climatisation.</p>
						<a href="#" class="btn btn-primary">Découvrir</a>
					</div>
				</div>
			</div>


			<div class="col">
				<div class="card" style="width: 18rem;">
					<h4 class="card-header">Villefranche-sur-Mer</h4>
					<img src="/images/Louis2.jpg" width="350px" height="200px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">5 pièces/3chambres <br/> 120€/nuit</h5>
						<p class="card-text">En plein centre de Villefranche sur mer, appartement fraîchement rénové avec goût. Entrée, cuisine Américaine, séjour, chambre, salle d'eau avec wc. A l'étage chambre de bonne avec superbe vue mer.</p>
						<a href="#" class="btn btn-primary">Découvrir</a>
					</div>
				</div>
			</div>



			<div class="col">
				<div class="card" style="width: 18rem;">
					<h4 class="card-header">Nice - Port</h4>
					<img src="/images/Louis1.jpg" width="350px" height="200px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">8 pièces/5chambres  <br/> 230€/nuit</h5>
						<p class="card-text">Quartier du Port, superbe loft de 240 m² entièrement rénové avec des matériaux de grande qualité, cuisine entièrement équipée Le studio dispose d' une chambre en mezzanine de 8 m² et d'un balcon.</p>
						<a href="#" class="btn btn-primary">Découvrir</a>
					</div>
				</div>
			</div>


			<div class="col">
				<div class="card" style="width: 18rem;">
					<h4 class="card-header">Beaulieu-sur-Mer</h4>
					<img src="/images/LouisXIV.jpg" width="350px" height="200px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">10 pièces/6chambres <br/> 420€/nuit</h5>
						<p class="card-text">Appartement de type 10 pièces de 260m² avec jardin en rez de chaussée composé comme suit : une entrée, une cuisine équipée, un séjour, une chambre, une salle de bains, un dressing. L'appartement est vendu loué avec un bail de 3ans.</p>
						<a href="#" class="btn btn-primary">Découvrir</a>
					</div>
				</div>
			</div>


		</div>

	{% endblock %}
